/*
*    JoomSpirit CSS file for typo
*
*/
body {
color:#222;
font: normal 0.8em/1.3 helvetica light, helvetica, arial, verdana, sans-serif;
} 
p {
margin: 8px 0 14px 0;
}
em {
font-weight:bold;
}

h1, h2, h3, h4 {
text-decoration: none;
text-transform:none;
font-weight:normal;
padding:8px 0 4px 0;
}

h1, .componentheading {
font-family: Times new roman, times, verdana, sans-serif;
display: block;
font-size:250%;
font-weight:normal;
padding:  0 0 0 0;
margin-bottom:16px;
text-transform:none;
letter-spacing:0.5px;
color:#555;
}
h1 a {
color:#555;
text-decoration: none;
}

.blog > h1 {
margin-bottom:20px;
}

h2 {
font-size:125%;
padding:8px 0 4px 0;
margin-bottom:8px;
font-weight:normal;
color:#222;
text-transform:none;
background: transparent url(../images/underline.png) left bottom repeat-x;
}

h2.contentheading {
color:#222;
font-size:150%;
padding:4px 8px;
margin: 0 0 10px 0;
border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;
background: transparent url(../images/black-05.png) 0 0 repeat;
}

h2 a {
color:#222;
text-decoration: none;
}
h2 a:hover {
text-decoration: none;
color:#222;
}
h3 {
font-size:110%;
font-weight:bold;
text-transform:none;
}
h4 {
font-size:115%;
font-weight:normal;
text-transform:none;
}
h5 {
font-size:105%;
font-weight:normal;
text-transform:none;
}


/**  Modules    **/

.moduletable h3 {
margin-bottom:10px;
padding:0 0 4px 0;
color:#666;
border-bottom : 3px solid #ddd;
-webkit-transition : all 0.4s ease-in-out;
-moz-transition : all 0.4s ease-in-out;
-ms-transition : all 0.4s ease-in-out;
-o-transition : all 0.4s ease-in-out;
transition : all 0.4s ease-in-out;
}

/**      LINK    **/

a {
color:#e2001a;
text-decoration : none;
}
a:hover {
color:#e2001a;
text-decoration : underline;
}
a:active, a:focus {
outline:none;
}

.link a {
background: transparent url(../images/puce-link.png) 0 50% no-repeat;
padding-left:15px;
line-height:18px;
text-decoration:none;
}

.link a:hover {
text-decoration:underline;
}

li span.separator {
cursor:default;
}

/*  Pathway  */
.breadcrumb {
/*color:#888;*/
color:#00008b;
text-decoration:none;
font-size:90%;
}

.breadcrumb a {
color:#777;
}

.breadcrumb a:hover {
color:#e2001a;
text-decoration:none;
}

/*  List  */

#main_component ul, .blog_more ul, ul.circle, ul.check, ul.arrow, ul.check_red, ul.arrow_red, ul.check_white, ul.arrow_white  {
margin: 10px 0 16px 6px;
padding-left:0;
}
#main_component ul li, .blog_more ul li, .circle li, .check li, .arrow li, .check_red li, .arrow_red li, .check_white li, .arrow_white li  {
background: url(../images/list_circle.png) 0 0px no-repeat;
padding-left: 21px;
list-style:none;
margin:5px 0;
}
#main_component ul li:hover, .blog_more ul li:hover, .circle li:hover, .check li:hover, .arrow li:hover, .check_red li:hover, .arrow_red li:hover, .check_white li:hover, .arrow_white li:hover, ol li:hover  {
color: #222;
cursor:default;
}
#main_component ul ul, ul.circle ul, ul.check ul, ul.arrow ul, .text-article ul_red ul, ul.check_red ul, ul.arrow_red ul, ul.circle ul, 
ul.circle_red ul, .text-article ul_white ul, ul.check_white ul, ul.arrow_white ul, ul.circle_white ul {
margin-left: 0px;
margin-top:4px;
padding-left:0;
}
#main_component ul li li, .circle li li, .check li li, .arrow li li, .check_red li li , .arrow_red li li , .check_white li li, .arrow_white li li  {
background: url(../images/list_circle.png) 0 0px no-repeat;
padding-left: 18px;
list-style:none;
margin:5px 0;
}

.normal li {
background: url(../images/list_normal.png) 0 0px no-repeat !important;
}
.check li {
background: url(../images/list_check.png) 0 0px no-repeat !important;
}
.arrow li {
background: url(../images/list_arrow.png) 0 0px no-repeat !important;
}
.circle li {
background: url(../images/list_circle.png) 0 0px no-repeat !important;
}
.normal_red li {
background: url(../images/list_normal_red.png) 0 0px no-repeat !important;
}
.arrow_red li {
background: url(../images/list_arrow_red.png) 0 0px no-repeat !important;
}
.check_red li {
background: url(../images/list_check_red.png) 0 0px no-repeat !important;
}
.circle_red li {
background: url(../images/list_circle_red.png) 0 0px no-repeat !important;
}

ol {
margin: 5px 0 0 6px;
background-color: transparent;
padding: 0 0 0 20px;
}
ol li {
margin: 0;
padding: 1px 5px;
font-weight: normal;
}

ul li > h2, ul li > h3, ul li > h4 {
margin-top : 0;
padding-top:0;
}


ul.actions {
text-align:right;
float:right;
margin:10px 12px 0px 10px !important;
padding:0 !important;
}

ul.actions li {
background-image: none !important;
margin: 0 !important;
padding:0 !important;
list-style:none;
display:inline;
}

ul.actions a {
text-decoration:none;
}

/*
*  Quotation
*/
blockquote.black, blockquote.red, blockquote.green, blockquote.pink, blockquote.white, blockquote.blue {
margin: 10px 30px 10px 30px;
padding: 10px 35px 10px 35px;
border: none;
background: url(../images/quote_black.png) 0 5px no-repeat;
text-align:justify;
font-style:italic;
font-size:105%;
}
blockquote.red {
background: url(../images/quote_red.png) 0 5px no-repeat;
}
blockquote.green {
background: url(../images/quote_green.png) 0 5px no-repeat;
}
blockquote.pink {
background: url(../images/quote_pink.png) 0 5px no-repeat;
}
blockquote.white {
background: url(../images/quote_white.png) 0 5px no-repeat;
}
blockquote.blue {
background: url(../images/quote_blue.png) 0 5px no-repeat;
}
blockquote.black p , blockquote.red p, blockquote.green p, blockquote.pink p, blockquote.white p, blockquote.blue p {
margin: 0px -35px -10px 0px;
padding: 0px 35px 10px 0px;
background: url(../images/quote_black_end.png) 100%  no-repeat;
color: #444;
}
blockquote.red p {
background: url(../images/quote_red_end.png) 100%  no-repeat;
color: #a93232;
}
blockquote.green p {
background: url(../images/quote_green_end.png) 100%  no-repeat;
color: #88a160;
}
blockquote.pink p {
background: url(../images/quote_pink_end.png) 100%  no-repeat;
color: #99cc66;
}
blockquote.white p {
background: url(../images/quote_white_end.png) 100%  no-repeat;
color: #eee;
}
blockquote.blue p {
background: url(../images/quote_blue_end.png) 100%  no-repeat;
color: #006699;
}


/**    Message & Info    **/

.jmessage, .info {
background-color : #f5f5f5;
border : 1px dotted #bbb;
padding:8px 12px 10px 12px ;
margin-bottom:20px;
-moz-box-shadow:2px 2px 4px #ccc;
-webkit-box-shadow:2px 2px 4px #ccc;
box-shadow:2px 2px 4px #ccc;
margin-right:4px;
}

.jmessage:hover, .info:hover {
background-color : #f8f8f8;
-moz-box-shadow:2px 2px 4px #bbb;
-webkit-box-shadow:2px 2px 4px #bbb;
box-shadow:2px 2px 4px #bbb;
}

.info {
background: #f5f5f5 url(../images/logo_info.png) 9px 6px no-repeat;
text-indent:22px;
}


/**  login  **/

#form-login-username label, #form-login-password label {
display : block;
font-size:96%;
margin-bottom:6px;
}

#submit-login {
float:left;
font-size:90%;
}


ul.icon_login {
float:left;
margin: 0 0 0 4px !important;
}
ul.icon_login li, ul.icon_login li {
display:block;
float:left;
width:16px;
height:16px;
margin:4px 0 0 5px;
}
ul.icon_login li a:hover, ul.icon_login li#current a, ul.icon_login li.active a {
border:none;
}
#form-login-remember {
clear:both;
padding-top:12px;
}
p#form-login-username {
margin:0;
}
p#form-login-password {
margin: 8px 0 12px 0;
}
#modlgn_remember {
background-color:transparent;
border:none;
}

ul.icon_login li a {
background-image : none !important;
margin:0 !important;
padding:0 !important;
}


/**  read more  **/

p.readmore {
height : 20px;
}

.readmore a {
float : right;
color: #777;
padding : 4px 12px;
margin-right:3px;
border:none;
font-weight:normal;
font-style:italic;
text-decoration:none;
text-shadow : 0 1px 1px rgba(255,255,255, 0.85);
background : transparent url(../images/black-04.png) top left repeat ;
background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#e6e6e6));
background-image : -moz-linear-gradient(0% 100% 90deg, #e6e6e6, #fbfbfb );
background-image:     -ms-linear-gradient(top, #fbfbfb, #e6e6e6);
background-image:     -o-linear-gradient(top, #fbfbfb, #e6e6e6);
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
-webkit-box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
-webkit-transition : all 0.4s ease-in-out;
-moz-transition : all 0.4s ease-in-out;
-ms-transition : all 0.4s ease-in-out;
-o-transition : all 0.4s ease-in-out;
transition : all 0.4s ease-in-out;
}

.readmore a:hover {
-moz-box-shadow: 0px 1px 2px rgba(0,0,0, 0.3);
-webkit-box-shadow: 0px 1px 2px rgba(0,0,0, 0.3);
box-shadow: 0px 1px 2px rgba(0,0,0, 0.3);
text-decoration:none;
}

.readmore a:active {
-moz-box-shadow: 0px 0px 2px rgba(0,0,0, 0.3);
-webkit-box-shadow: 0px 0px 2px rgba(0,0,0, 0.3);
box-shadow: 0px 0px 2px rgba(0,0,0, 0.3);
background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#fbfbfb));
background-image : -moz-linear-gradient(0% 100% 90deg, #fbfbfb, #e6e6e6 );
background-image:  -ms-linear-gradient(top, #e6e6e6, #fbfbfb);
background-image:  -o-linear-gradient(top, #e6e6e6, #fbfbfb);
}


/**    FOOTER    **/
#footer {
color: #888;
font-size:90%;
}


/** Mew Modified and added **/
.breadcrumbs_bread
{
  font-family: Arial,MingLiU,sans-serif;
  height:30px;
  line-height:30px;
/**  border:1px solid; **/
  font-size:14px;
  display:block;
  vertical-align:middle;
  padding-left:5px;
}

/** virtuemart **/
.spacer
{
/*  border: 1px solid #EFEFEF; */
}

.category-view, .featured-view, .latest-view, .recent-view
{
  display:block;
  border:1px solid #999999;
}

.category-view .row .category .spacer h2
{
  border:none;
  background:none;
}

.category-view h4,.featured-view h4, .latest-view h4, .recent-view h4
{
  font-family:Arial;
  font-weight:bold;
  padding-left:10px;
  padding-top:4px;
  padding-bottom:4px;
  display-block;
  background-color:#999999;
  line-height:30px;
}

